.idea
.settings
*.iml
*.iws
*Db.properties
*Db.script
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
classes/
eclipse
stacktrace.log
target
target-eclipse/
web-app/WEB-INF/
.classpath
.settings
.project

openboxes.ipr
/cobertura.ser
/.link_to_grails_plugins
