.idea
.settings
*.iml
*.iws
/*.sql
*Db.properties
*Db.script
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
classes/
eclipse
stacktrace.log
target
target-eclipse/
web-app/WEB-INF/
.classpath
.settings
.project
.DS_Store
openboxes.ipr
/cobertura.ser
/.link_to_grails_plugins
out/
*.swp
tags
*.swo
/uploads
site/
.slcache
build/
node_modules
npm-debug.log
/web-app/js/*bundle*
/web-app/css/*bundle*
/web-app/fonts/*
/web-app/js/fonts/*
grails-app/views/partialReceiving/_create.gsp
grails-app/views/common/_react.gsp
docker/mysql
docker/openboxes.war