$color-default : #8798ad;

// Primary Colors
$color-primary-normal : #0ddbdd;
$color-primary-dark : #08c6c8;
$color-primary-light : #52e8e8;

//Secondary Colors
$color-secondary-normal: #ea6227;
$color-secondary-dark: #d05622;
$color-secondary-light: #ff9c72;

// Tertiary Colors
$color-tertiary-normal :#0c60e5 ;
$color-tertiary-dark : #0a58d5;
$color-tertiary-light: #186cf2;

// State Colors

$normal-state-1 : #f57c00;
$normal-state-2 : #fbc02d;
$normal-state-3 : #689f38;
$normal-state-4 : #00796b;
$normal-state-5 : #0288d1;
$normal-state-6 : #303f9f;
$normal-state-7 : #7b1fa2;
$normal-state-8 : #d32f2f;

$dark-state-1 : #e65100;
$dark-state-2 : #f57f17;
$dark-state-3 : #33691e;
$dark-state-4 : #004d40;
$dark-state-5 : #01579b;
$dark-state-6 : #1a237e;
$dark-state-7 : #4a148c;
$dark-state-8 : #b71c1c;

$light-state-1 :#ffa726;
$light-state-2 : #ffee58;
$light-state-3 : #9ccc65;
$light-state-4 : #26a69a;
$light-state-5 : #29b6f6;
$light-state-6 : #5c6bc0;
$light-state-7 : #ab47bc;
$light-state-8 : #ef5350;

:export {
    colorDefault : $color-default;
    
    colorPrimaryNormal : $color-primary-normal;
    colorPrimaryDark : $color-primary-dark;
    colorPrimaryLight : $color-primary-light;
  
    colorSecondaryNormal : $color-secondary-normal;
    colorSecondaryDark : $color-secondary-dark;
    colorSecondaryLight : $color-secondary-light;

    colorTertiaryNormal : $color-tertiary-normal;
    colorTertiaryDark : $color-tertiary-dark;
    colorTertiaryLight : $color-tertiary-light;

    normalState1 : $normal-state-1;  
    normalState2 : $normal-state-2;
    normalState3 : $normal-state-3; 
    normalState4 : $normal-state-4;
    normalState5 : $normal-state-5; 
    normalState6 : $normal-state-6; 
    normalState7 : $normal-state-7;
    normalState8 : $normal-state-8;

    darkState1 : $dark-state-1;
    darkState2 : $dark-state-2;
    darkState3 : $dark-state-3;
    darkState4 : $dark-state-4;
    darkState5 : $dark-state-5;
    darkState6 : $dark-state-6;
    darkState7 : $dark-state-7;
    darkState8 : $dark-state-8;

    lightState1 : $light-state-1;
    lightState2 : $light-state-2;
    lightState3 : $light-state-3;
    lightState4 : $light-state-4;
    lightState5 : $light-state-5;
    lightState6 : $light-state-6;
    lightState7 : $light-state-7;
    lightState8 : $light-state-8;
  }