.page-dashboard {
  background-color: #fbfbfb;
}

.archiveDiv {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 5% 0 35px 0;
  bottom: 0;
  background-image: linear-gradient(transparent, rgb(255, 188, 188));
  font-size: 20px;
  color: #aa0f0f;
  transition: 0.8s ease;
}

.hideArchive {
  bottom: -200 !important;
}

.archiveDiv:hover {
  background-image: linear-gradient(transparent, rgb(228, 128, 128));
}

.cardsContainer {
  .numberCardComponent {
    padding-left: 4%;
  }

  .cardComponent {
    margin: 20px;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .numberCard {
      width: 47.5%;
      height: 124px;
      margin: 1%;
      padding: 24px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.09);
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .titleCard {
        color: #cdcdcd;
        font-size: 14px;
      }

      .resultCard {
        color: #282d32;
        font-size: 28px;
      }

      .subtitleCard {
        color: #282d32;
        font-size: 14px;
      }
    }

    @media (min-width: 535px) {
      .numberCard {
        width: 31%;
      }
    }

    @media (min-width: 868px) {
      .numberCard {
        width: 30.66%;
      }
    }

    @media (min-width: 1115px) {
      .numberCard {
        width: 14.32%;
      }
    }
  }
}

.graphCard {
  margin: 1%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.09);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 97%;

  >div {
    padding: 24px;
  }

  .headerCard {
    height: 68px;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #282d32;

    .dragHandler {
      color: #999999;
      font-size: 25px;
      cursor: all-scroll;
    }
  }

  .contentCard {
    height: 100%;

    .loaderDiv {
      margin: auto;
      position: relative;
      padding: 10% 0 0 32%;
    }

    .gyrIndicator {
      height: 100%;
      display: flex;
      align-items: center;

      .numberIndicator {
        flex-grow: 1;
        height: 80%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          border-right: 1px solid #d8d8d8;
        }

        .value {
          font-size: 40px;
          display: flex;
          align-items: center;

          .circle {
            width: 12px;
            height: 12px;
            border-radius: 100%;
            position: absolute;
            margin-left: -22px;

            &.green {
              background-color: #519a04;
            }

            &.yellow {
              background-color: #f7b500;
            }

            &.red {
              background-color: #e02020;
            }
          }
        }

        .subtitle {
          font-size: 12px;
          color: #818181;
        }
      }
    }
  }
}

@media (min-width: 630px) {
  .graphCard {
    height: 400px;
  }
}

@media (min-width: 730px) {
  .graphCard {
    height: 450px;
  }
}

@media (min-width: 868px) {
  .graphCard {
    height: 300px;
    width: 47%;
  }
}

@media (min-width: 1068px) {
  .graphCard {
    height: 350px;
    width: 47%;
  }
}

@media (min-width: 1268px) {
  .graphCard {
    height: 400px;
    width: 47%;
  }
}

@media (min-width: 1468px) {
  .graphCard {
    height: 350px;
    width: 30.6%;
  }
}

.errorCard {
  background-color: #f5f5f5;
  color: #282d32;

  .fa-repeat {
    font-size: 40px;
    margin: auto;
    position: relative;
    padding: 19% 46%;
  }
}

.unarchive {
  padding-left: 4%;
  margin: 25px 0 30px 0;
  color: #818181;
}