.page-dashboard {
  background-color: #fbfbfb;
}

.archiveDiv {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 5% 0 35px 0;
  bottom: 0;
  background-image: linear-gradient(transparent, rgb(255, 188, 188));
  font-size: 20px;
  color: #aa0f0f;
  transition: 0.8s ease;
}

.hideArchive {
  bottom: -200;
}

.archiveDiv:hover {
  background-image: linear-gradient(transparent, rgb(228, 128, 128));
}

.cardsContainer {
  .numberCardComponent {
    padding-left: 4%;
  }

  .cardComponent {
    margin: 20px;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a:hover {
      text-decoration: none;
    }

    .numberCard {
      position: relative;
      width: 47.5%;
      height: 124px;
      margin: 1%;
      padding: 24px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.09);
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;

      animation-name: slide-down;
      animation-duration: .8s;
      animation-timing-function: ease-out;

      .numberDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .titleCard {
        color: #282d32;
        font-size: 14px;
      }

      .resultCard {
        color: #282d32;
        font-size: 28px;
      }

      .subtitleCard {
        color: #cdcdcd;
        font-size: 14px;
      }

      .loaderDiv {
        margin: auto;
      }
    }

    @media (min-width: 535px) {
      .numberCard {
        width: 31%;
      }
    }

    @media (min-width: 868px) {
      .numberCard {
        width: 30.66%;
      }
    }

    @media (min-width: 1115px) {
      .numberCard {
        width: 14.32%;
      }
    }
  }
}

@keyframes slide-down {
  from {
    top: -200;
    margin: -100 1% -100 1%;
    padding: -100 24px -100 24px;
  }

  to {
    top: 0;
    margin: 1%;
    padding: 24px;
  }
}

.graphCard {
  margin: 1%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.09);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 97%;

  >div {
    padding: 24px;
  }

  .headerCard {
    height: 68px;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #282d32;

    .titleLink {
      color: #282D32;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }

    .dragHandler {
      color: #999999;
      font-size: 25px;
      cursor: all-scroll;
    }
  }

  .contentCard {
    height: 80%;

    .dataFilter {
      margin: -15px 0 5px 0;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.83;
      letter-spacing: normal;
      text-align: right;
      position: relative; 

      .customSelect{
        background-color: transparent;
        border: transparent;
        color: #aaacae;
        font-family: Arial;
        text-align: right;
        cursor: pointer;

        &:focus{
          outline: none;
        }
      }
    }

    .dataFilter .disabled{
      opacity: 0;
      cursor: default;
    }

    .tableCard {
      align-items: flex-end;
  
      table {
        font-family: arial, sans-serif;
        width: 100%;
        display: block;
        height: 100%;
        overflow-y: auto;
        margin-top: 10px;
  
        td, th {
          border-bottom: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        thead {
          object-fit: contain;
          font-size: 13px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.42;
          letter-spacing: normal;
          color: #909090;
        
          .small-text {
            font-size: 11px;
          }
        }
        
        tbody {
          object-fit: contain;
          font-size: 13px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #2d2d2d;
        }
        
        .tableLink {
          color: #282D32;
          
          &:hover {
            cursor: pointer;
            color: #282D32;
            background-color: #fbfbfb;
          }
        }
      }
    }

    .loaderDiv {
      margin: auto;
      position: relative;
      padding: 10% 0 0 32%;
    }

    .gyrIndicator {
      height: 100%;
      display: flex;
      align-items: center;

      .numberIndicator {
        flex-grow: 1;
        height: 80%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        color: #282d32;

        &:hover {
          text-decoration: none;
          color: #282d32;
        }

        &:not(:last-child) {
          border-right: 1px solid #d8d8d8;
        }

        .value {
          font-size: 40px;
          display: flex;
          align-items: center;

          .circle {
            width: 12px;
            height: 12px;
            border-radius: 100%;
            position: absolute;
            margin-left: -22px;

            &.green {
              background-color: #519a04;
            }

            &.yellow {
              background-color: #f7b500;
            }

            &.red {
              background-color: #e02020;
            }

            &.gray {
              background-color: #9eafc5;
            }
          }
        }

        .subtitle {
          font-size: 12px;
          color: #818181;
        }
      }
    }
  }
}

@media (min-width: 630px) {
  .graphCard {
    height: 420px;
  }
}

@media (min-width: 730px) {
  .graphCard {
    height: 470px;
  }
}

@media (min-width: 868px) {
  .graphCard {
    height: 320px;
    width: 47%;
  }
}

@media (min-width: 1068px) {
  .graphCard {
    height: 370px;
    width: 47%;
  }
}

@media (min-width: 1268px) {
  .graphCard {
    height: 420px;
    width: 47%;
  }
}

@media (min-width: 1468px) {
  .graphCard {
    height: 370px;
    width: 30.6%;
  }
}

.errorCard {
  background-color: #f5f5f5;
  color: #282d32;

  .fa-repeat {
    font-size: 40px;
    margin: auto;
    position: relative;
    padding: 19% 46%;
  }
}

.unarchive {
  color: #818181;
  user-select: none;
  cursor: pointer;
}

.unarchivedItems {
  padding-left: 4%;
  margin: 25px 0 30px 0;
  display: inline-block;
  position: relative;

  .unarchive-popover {
    border-radius: 4px;
    margin: 8px 0;
    min-width: 200%;
    padding: 50px 0 50px 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.09);
    position: absolute;
    background-color: #fbfbfb;

    transition-property: transform, opacity;
    transition-duration: 80ms;
    transition-timing-function: ease-in-out;

    transform: scale(.9);
    transform-origin: bottom;
    display: block;
    opacity: 0;

    bottom: 150%;
    left: -500px;

    &:after {
      top: 100%;
      left: 42%;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      border-color: rgba(41, 41, 41, 0.09);
      margin-left: -0.5em;
      box-sizing: border-box;
      border: 1em solid black;
      border-color: transparent transparent #fbfbfb #fbfbfb;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.08);
      border-width: 8px;
      content: " ";
    }

    .close-button {
      position: absolute;
      color: #a5a5a5;
      font-size: 38px;
      margin: 0;
      padding: 0;
      right: 12px;
      top: -1%;
      user-select: none;
      cursor: pointer;

      transition-property: color;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;

      &:hover {
        color: rgb(199, 57, 14);
      }
    }

    .unarchivedList {
      height: 240px;
      overflow: auto;
      list-style-type: none;
      padding: 0;
      margin: 0;

      .unarchivedItem {
        white-space: nowrap;
        border: 2px 0;
        border-color: #a5a5a5;

        .archived-indicator {
          border-style: solid;
          width: 100%;
          height: 80px;
          text-align: center;
          background-color: #fff;
          border-color: rgb(207, 207, 207);
          border-width: 1.2px 0;

          &:hover {
            background-color: rgb(250, 250, 250);
          }
        }
      }
    }
  }

  @media (min-width: 858px) {
    .unarchive-popover {
      min-width: 165%;

      &:after {
        left: 7.55%;
      }
    }
  }
}

.popover-active .unarchive-popover {
  bottom: 150%;
  left: 12%;
  transform: scale(1);
  display: block;
  opacity: 1;
}

@media (min-width: 858px) {
  .popover-active .unarchive-popover {
    left: 83%;
  }
}

.row {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .unarchive-button {
    color: rgb(14, 109, 199);
    user-select: none;
    cursor: pointer;
  }

  .col {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    user-select: none;

    &.graph-preview {
      font-size: 25px;
      margin: auto;
      width: 50%;
      padding: 20px 0;

      i:not(.fa-repeat) {
        font-size: 40px;
      }

      .fa-repeat {
        font-size: 20px;
        padding: 8px 0 8px 5px;
      }

      .horizontal-bar {
        transform: rotate(90deg) scaleX(-1);
      }

      .value {
        display: flex;
        align-items: center;

        .circle {
          width: 7px;
          height: 7px;
          border-radius: 100%;
          margin-right: 6px;

          &.green {
            background-color: #519a04;
          }

          &.yellow {
            background-color: #f7b500;
          }

          &.red {
            background-color: #e02020;
          }
        }
      }
    }
  }
}
