
## Instructions

### Step 1. Navigate to OpenBoxes

Enter your server address in the URL 

    http://<server-ip>/openboxes

The system should prompt you for authentication credentials

![img_3.png](img_3.png)


### Step 2. Authenticate 

Enter the default credentails username `admin`, password `password`

![img_4.png](img_4.png)


### Step 3. Choose Location

Click the Main Warehouse button. 

![img_5.png](img_5.png)



The system should redirect you to the Dashboard.


![img_7.png](img_7.png)

### Step 4. Celebrate

![img_8.png](../../../assets/img/celebration-icegif-18.gif)