// SWITCH

@mixin slider-image($image) {
  background-image: url($image);
  background-size: cover;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 12px;

  .switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 32px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--blue-200);
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      content: '';
      position: absolute;
      height: 29px;
      width: 29px;
      left: 2px;
      bottom: 2px;
      transition: 0.4s;
      @include slider-image("/openboxes/static/images/close-circle-fill.svg")
    }

    &:before {
      border-radius: 50%;
    }
  }

  input:checked + .slider:before {
    transform: translateX(26px);
    @include slider-image("/openboxes/static/images/checkbox-circle-fill.svg")
  }

  .switch-title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }
}

// TEXT INPUT

.text-input {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid var(--gray-200);

  &:focus {
    outline: 0;
    border: 1px solid var(--blue-primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(104, 113, 130, 0.16), 0px 0px 0px 4px rgba(34, 100, 229, 0.15);
  }
}

input {

  &.has-errors {
    border: 1px solid var(--color-red);

    &:focus {
      border-color: var(--color-red);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px var(--color-red);
    }
  }
}
