// SWITCH

@mixin slider-image($image) {
  background-image: url($image);
  background-size: cover;
}

// SWITCH

.switch-container {
  display: flex;
  align-items: center;
  gap: 12px;

  .switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 32px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--blue-200);
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      content: '';
      position: absolute;
      height: 29px;
      width: 29px;
      left: 2px;
      bottom: 2px;
      transition: 0.4s;
      @include slider-image("/openboxes/static/images/close-circle-fill.svg")
    }

    &:before {
      border-radius: 50%;
    }
  }

  input:checked + .slider:before {
    transform: translateX(26px);
    @include slider-image("/openboxes/static/images/checkbox-circle-fill.svg")
  }

  .switch-title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }
}

// TEXT INPUT

.form-element-input {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid var(--gray-200);
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-600);

  &:focus {
    outline: 0;
    border: 1px solid var(--blue-primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(104, 113, 130, 0.16), 0 0 0 4px rgba(34, 100, 229, 0.15);
  }

  &:disabled {
    background-color: var(--blue-100);
  }
}

input, .date-field-input {

  &.has-errors {
    border: 1px solid var(--color-red);

    &:focus {
      border-color: var(--color-red);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px var(--color-red);
    }
  }
}

// CHECKBOX

.form-element-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 4px;
  padding: 8px;
}

// DATE FIELD

.react-datepicker-popper {
  z-index: 999;
}

.react-datepicker__input-container {
  width: 100%;

  .date-picker {
    width: 100%;
  }

  .date-field-input {
    background-color: white;
    position: relative;
    display: flex;

    &__placeholder {
      font-size: 14px;
      color: var(--gray-400);
    }

    &__value {
      font-weight: 500;
      font-size: 14px;
      color: var(--gray-600);
    }


    &.disabled {
      background-color: var(--blue-100);
    }
  }

  .form-element-icons-wrapper {
    position: absolute;
    right: 8px;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
      color: var(--gray-600)
    }
  }
}

// SELECT FIELD

.select-wrapper-container {

  div:nth-child(2) > div:first-child {
    width: 100%;
  }

  .react-select__control {
    border: 1px solid var(--gray-200);
    color: var(--gray-600);
    min-height: 36px;

    .react-select__value-container {
      font-size: 14px;
      font-weight: 400;

      span {
        font-size: 14px;
        color: var(--gray-600);
      }
    }

    &.react-select__control--is-focused {
      outline: 0;
      border: 1px solid var(--blue-primary);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(104, 113, 130, 0.16), 0 0 0 4px rgba(34, 100, 229, 0.15);
    }

    .react-select__indicator-separator {
      background-color: var(--gray-400);
    }

    .react-select__indicators {

      svg {
        height: 16px;
        width: 16px;
        cursor: pointer;
        color: var(--gray-400);
      }
    }
  }

  .has-errors {
    .react-select__control {
      border: 1px solid var(--color-red) !important;

      &.react-select__control--is-focused {
        border-color: var(--color-red) !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px var(--color-red) !important;
      }
    }
  }
}
