.steps-box {
    padding: 24px;
    display: flex;
    background-color: #fff;

    .steps {
        max-width: 80%;
        margin: auto;
        flex: 1;
        justify-content: space-evenly;

        .step-container {
            display: flex;

            &:not(:last-child) {
                flex: 1;
            }

            .step {
                border: none;
                background: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                // Icons
                .fa {
                    font-size: 30px !important;
                }

                .fa-check-circle-o {
                    color: #50c146;
                }

                .fa-circle-o.disabled {
                    color: #e9ebeb;
                }

                .fa-circle-o {
                    color: #4f87ce;
                }

                .step-text {
                    position: absolute;
                    top: 30px;
                    font-size: small;
                    font-weight: bold;
                }
            }
        }

        .step-container:not(:last-child)::after {
            content: " ";
            border-bottom: 1px dashed #e9ebeb;
            flex: 1;
            height: 18px;
        }

    }
}
