.custom-modal-content {
  min-height: 173px;
  min-width: 600px;
  box-shadow: 0 0 4px 0 #00000040;
  padding: 20px;

  div {
    gap: 15px;
  }

  .custom-modal-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--blue-800);
  }

  .custom-modal-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-600);
  }

  svg {
    color: var(--blue-700);
  }
}

.redirect-button {
  font-size: 18px;
  text-decoration: none;
  color: var(--blue-800);
  font-weight: 500;

  &:hover {
    color: var(--blue-800);
  }

  span {
    cursor: pointer;
  }
}

.create-page-title {
  font-size: 20px;
  font-weight: 600;

  .create-page-tile-main-content {
    color: var(--gray-600);
  }

  .create-page-title-source-code {
    color: var(--gray-500);
  }
}

.product-supplier-buttons-container {
  height: 100px;
}
