.custom-modal-content {
  min-height: 173px;
  min-width: 600px;
  box-shadow: 0 0 4px 0 #00000040;
  padding: 20px;
  max-width: 1200px;

  div {
    gap: 15px;
  }

  .custom-modal-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--blue-800);
  }

  .custom-modal-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-600);
  }

  svg {
    color: var(--blue-700);
  }
}

.redirect-button {
  font-size: 18px;
  text-decoration: none;
  color: var(--blue-800);
  font-weight: 500;

  &:hover {
    color: var(--blue-800);
  }

  span {
    cursor: pointer;
  }
}

.create-page-title {
  font-size: 20px;
  font-weight: 600;

  .create-page-tile-main-content {
    color: var(--gray-600);
  }

  .create-page-title-source-code {
    color: var(--gray-500);
  }
}

.product-supplier-buttons-container {
  height: 100px;
}

.text-blue-primary {
  color: var(--blue-primary);
}

.text-blue-400 {
  color: var(--blue-400);
}

.context-menu {
  background-color: white;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  .dropdown-item {
    color: var(--blue-700) !important;;

    &:hover {
      background-color: var(--blue-300) !important;
    }
  }

  .font-red-ob {
    color: var(--color-red) !important;
  }
}

.react-tiny-popover-container {
  z-index: 999;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2px;

  &.disabled {
    .badge {
      background-color: var(--gray-200);
      color: var(--gray-350);
    }
  }

  .badge {
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    max-width: 150px;

    @media (max-width: 1550px) {
      max-width: 120px;
    }

    &--purple {
      background-color: var(--purple-100);
      color: var(--purple-600);
    }

    &--blue {
      background-color: var(--blue-202);
      color: var(--blue-401);
    }
  }
}
