/* Custom css
-------------------------------------------------------------*/
/* used to remove the 10px margin that yui adds by default */
#doc3 {
	margin:auto;
}

/* used to give the main content some protection against hitting the right edge of the browser */
#content { 
	margin-left: 0px;	/* hack to move content over */
	/*margin-right: 30px;*/	/* moved to .body */
	width: 95%;		/* stretch the main content */
}

li.ui-menu-item { text-align: left; font-weight: bold; } 
h3.ui-state-active { background-color: #F8F7EF; }

.body { 
	margin-right: 5px;
}
#dashboard { 
	margin: 20px; 	
}
	

#notify-container {
	color:#735005;
	font-size:130%;
	font-weight:bold;
	left:0;
	position:fixed;
	text-align:center;
	top:0;
	width:100%;
	z-index:100;
}
#notify-container div {
	background-color:#F4A83D;
	border-bottom:1px solid #D6800C;
	padding:7px 0;
}


body { 
	font-family: "lucida grande", arial, verdana;
}


/* controls width of the page */
.body { 
	padding: 10px 0 10px 0;
}

.fade { 
	color: #aaa;	
}

#loginForm { 
	width:400px;
	height:  300px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -150px;
}

#signupForm { 
	width:400px;
	height:  300px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -150px;
}


#chooseWarehouse { 
	width: 500px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -250px;
}

.menuButton, label, input, td, th { 	
	font-size: 11pt;
}

.toggle-button { 
	cursor: hand;
}
.toggleable { 
	display: none;
}

/* Shipment summary add padding around To/From addresses */
#summary td { 
	padding: 15px;	
}

.tab { 
	padding: 15px;	
}
.tabOuter { 
	
	background-color: #eee;
}

/* IMPORTANT: not sure why this works, but mis-aligns the menu */
.yui-skin-sam { 
	font: 11px/1.231 arial,helvetica,clean,sans-serif;
}

table.withoutBorder {
    border: 0px solid #ccc;
    width: 100%
}
table.container { 
	width: 100%;	
}

table#listOutgoing { 
	border: 0px;
}

table#listOutgoing td { 
	border: 0px;	
}

table#listOutgoing th { 
}
	
.dialog td { 
	padding: 10px;
}
#content .small {
	font-size:.9em;
}
#content .large {
	font-size:1.1em;
}

.menu { 
	padding: 0px; 
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}  
.menu .heading { 
	font-size: 1.5em;
	line-height: 1.5em; 
	vertical-align: middle;
	padding: 2px 0px 2px 15px; 
	display: block; 
	background-color: #F8F7EF; 
}
.menu .menuSection { 
	padding-right: 0px; 
	padding-bottom: 10px;
}
.menu .menuSection ul { 
	padding-top: 5px; 
	padding-bottom: 5px;
}
.menu .menuSection ul li { 
    /*display: block;*/
    
    padding: 0px 0px 2px 0px;
    cursor: pointer;
}
/*
.menu .menuSection a { 
	font-weight: none;
	text-decoration: none;
}
.menu .menuSection a:hover { 	
	text-decoration: none;
	font-weight: none;
}
.menu .menuSection a:hover { 
	text-decoration: underline;
	font-weight: none;
}
.menu .menuSection a:visited { 
	text-decoration: none;
	font-weight: none;
}
*/
	
/* nothing to do right now */
#menu { 

}
/* TODO figure out if this is needed */
#nav {
	margin-top: 20px;
	margin-left: 0px;
	width: 228px;
	float: left;
	border: 0px solid black;
}
#resultSummary { 
	font-size: 9pt;	
}
label { 
	padding-right: 15px; 
	font-weight: bold;
}
label.required { 
	color: red;
}
label.optional { 
	color: #AAA;
}

/* TODO figure out what this was meant for */
h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 1.2em;
	border-bottom: 1px solid #ddd;
}
.title { 
	font-size: 1.2em;	
	font-weight: bold;
}

.buttons { 
	margin-top: 1px;	
}

/* TODO figure out if we need to keep this */
#pageBody {
	margin-left: 280px;
	margin-right: 20px;
	padding: 1px;
}

#pageTitle { 
	border-top: 1px solid #EEE;
	background-color: #F8F7EF;
	padding: 5px 5px 5px 5px;	
}

.section { 	
	/*
	padding-left: 10px; 
	padding-bottom: 10px; */
}
.buttons { 
	padding: 10px; 
}
	


/* stole from blueprint screen.css */
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 0em 0em;border:none;}
hr.space {background:#fff;color:#fff;}


/* Login information in banner
-------------------------------------------------------------*/
/* 	NOTE: I cannot get the login info to move down to the "bottom", 
	so I was using absolute positioning at one point (might be gone now)  */
 	
#hd { 
    vertical-align: bottom;		
	/* debugging */
	padding-bottom: 5px;
	margin: 0px;
	height: 24px;
}

#banner { 
	background-color: #eee; 
	padding-right: 25px;
}

	

#bannerLeft {

    text-align: left;
}
#bannerRight {
	text-align: right;
}

#loggedIn { 	
	text-align: right;
	margin: 0px;
	font-size: 1.2em;
	border: 0px solid #000; 
	padding: 5px 10px 10px 15px;  	
}

#loggedIn ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
#loggedIn ul li  {
    display: inline;
    margin: 0 5px;
}

/* breadcrumb 
-------------------------------------------------------------*/
.breadcrumb { 
	margin: 10px;	
}


/* not sure if these are needed any longer, so we should look into getting rid of these 
-------------------------------------------------------------*/
#footer {
   position:absolute;
   vertical-align: middle;
   border-top: 1px solid #aaa;
   bottom: 0px;
   padding-top: 5px;
   width:100%;
   text-align: center;
   height: 20px;   /* Height of the footer */
   background:#ccc;
}

#header {
   vertical-align: middle;
   border-bottom: 0px solid black;
   padding-bottom: 0px;
   width:100%;
   background:#fff;
   height: 62px;
}




/*
-------------------------------------------------------------*/

/* changed to 5px because div.errors looks weird at 10px */
div.errors li { 
	margin-top: 5px; 	
}

div#dashboard li { 
	margin-top: 10px;
}
	

.listcontainer { 
	margin-bottom: 1em;
	/*overflow: hidden;*/
	
}

.list {
	list-style-type: none;
	/*
	margin: 10px;
	padding: 10px;*/
}

.list li {
	border-left: 1px solid #000;
	float: left;
	padding: 5px 10px 5px 10px;
	/*margin: 0 .5em 0 -.5em;*/
	/*padding: 0 .75em 0 .75em;*/
}

.list li.first { 
	border-left: 0px;
}

.list .active { 
	font-weight: bold;	
	background-color: #ccc;
}
.list li { 
	background-color: #eee;
}


.prop { 
	border-top: 1px dotted #ccc;	
}
.prop .value { 
	text-align:left;
}

.prop .name { 
	width: 20%;
	background-color: #F7F7F7;
	text-align: right; 
}




