/* Custom css
-------------------------------------------------------------*/
/* used to remove the 10px margin that yui adds by default */
#doc3 {
	margin:auto;
}

.buttons { 
	text-align: right; 
	padding: 10px; 
}

button { 
	padding: 1px;
}

.action-btn { 
	margin: 1px;
}
#banner { 
	padding: 5px; 
}
.black-top { 
	border-top: 1px solid black;
}
.red { 
	background-color: red;
	color: white;
	height: 2em;
}
.blue { 
	background-color: blue; 
	color: white;
	height: 2em;
}

.box { 
	border: 1px solid lightgrey;
	margin: 1px;
	
}
.padded { 
	padding: 25px;	
}
.smpad { 
	padding: 5px;
}

.hidden { 
	display: none;
}


/* Added to fix an issue with being able to select actions from the action menu at the bottom of pages */
.body { 
	margin-bottom: 200px;
}

.debit { 
	color: red; 
}

/* Autocomplete */

.autocomplete {
	background-image: url('/warehouse/images/icons/silk/magnifier.png');
	background-repeat: no-repeat;
	background-position: center right;
	/*padding-left: 20px;*/
}

/* Action Menu Items */

.actions .action-menu-item { 
	border: 0px solid black;
	margin: 0px;
	padding: 0px;
}
.actions .action-menu-item a { 
	display: block; 
	padding: 5px;
}
.actions .action-menu-item a:hover { 
	display: block; 
	background-color: lightgrey;
	text-decoration: none;
}


/* Flow Header */
.currentState { font-weight: bold; background-color: #eee; color: blue; } 
.circle {
  display:inline;
  padding-left:4px;
  padding-right:4px;
  color: white;
  background: lightgrey;
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
}

.circle a {
  font-size:9px;
  text-decoration:none;
  color: white;
  position:relative; top:-2px;
}
.currentState > .circle { background-color: blue; }
.currentState > .circle a { font-weight: bold; }  



/* Product Details box */
/*#product-details-box { width: 260px;}*/
#product-details-box span.name {   } 
#product-details-box span.value { font-size: 1.0em; } 
#product-details-box span.name:after { content: ": " }
#product-details-box th { color: lightgrey; } 
#product-details-box fieldset table td { padding: 6px; } 
.product-details { height: 45px; line-height: 2px; }
/*
.product-details .label { width: 80px; }

.product-details .value { width: 150px; }
*/
.product-details .button { width: 20px; }
.page-title { margin-bottom: 1em; } 
/* Text Alignment classes */
.right { text-align: right; } 
.left { text-align: left; }
.center { text-align: center; }

/* Vertical Alignment classes */
.top { vertical-align: top; }
.bottom { vertical-align: bottom; }
.middle { vertical-align: middle; }

/* temporarily hide the nav bar until we figure out whether we want to keep it or not */
.nav { display: none; } 

li.ui-menu-item { text-align: left; font-weight: bold; }
h3 { 
	font-family: Georgia;
	font-style: italic;
	font-size: 14px;
	vertical-align: bottom;
	/*color: #008000;*//*green */
} 
h3.ui-state-active { background-color: #f7f7f7; }  /* #F8F7EF */
.ui-accordion .ui-accordion-content { padding: 0; margin: 0; }
.body { 
	/*margin-right: 5px;*/
	/*padding: 0px 0 10px 0;*/
	
	
}


body { 
	text-align: left; 
	margin:1px; 
}
#dashboard { 
	margin: 0px; 	
}
#productDetails { 
	width: 250px;
}
.actionsMenu { 	
	text-align: left; 
	padding: 5px;
}
.actionsMenu a { 
	padding-left: 2px;
}
.actionsMenu ul li { 
	display: inline;
	padding-right: 15px;
}

.widget-large { border: 1px solid lightgrey; height: 75px; margin: 5px; }
.widget-small { border: 1px solid lightgrey;  margin: 5px; }    		
.widget-header { background-color: #FFF; margin: 1px; font-weight: bold; font-size: 110%;} 
.widget-content { margin: 10px; } 
.widget-small .widget-content { float: left; width: 45%; font-size: 110%;} 


img { 
	vertical-align: middle;
}

body { 
	font-family: "Lucida Grande", arial, verdana;
}

a:hover { 
	/*font-weight: bold;*/
}
.fade { 
	color: #aaa;	
}

#logo { 
	padding: 1px;	
}

#chooseLocation { 
	width:400px;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -200px;
}

#loginForm { 
	width:400px;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -200px;
}
#loginFormBox { 
	border: 1px solid lightgrey;	
	padding: 20px;
}
	
.loginField { 
	font-weight: none;
	font-size: 1.2em;
}
	
#signupForm { 
	width:400px;
	height:  300px;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -150px;
}


label, input, td, th { 	
	/*font-size: 10pt;*/
}

.toggle-button { 
	cursor: hand;
}
.toggleable { 
	display: none;
}

/* Shipment summary add padding around To/From addresses */
#summary td { 
	padding: 15px;	
}

.tab { 
	padding: 15px;	
}
.tabOuter { 
	
	background-color: #eee;
}

/* IMPORTANT: not sure why this works, but mis-aligns the menu */
.yui-skin-sam { 
	font: 11px/1.231 arial,helvetica,clean,sans-serif;
}

table.withoutBorder {
    border: 0px solid #ccc;
    width: 100%
}

table.container { 
	width: 100%;	
}

table#listOutgoing { 
	border: 0px;
}

table#listOutgoing td { 
	border: 0px;	
}

table#listOutgoing th { 
}


.five { 
	width: 5%;
}
.tenth { 
	width: 10%;
}
.quarter { 
	width: 25%;
}
.full { 
	width: 100%;
}
.right { 
	text-align: right;
}
.left { 
	text-align: left;
}
.center { 
	text-align: center;
}
	
.dialog td { 
	padding: 10px;
}

.small {
	font-size:.7em;
}

.large {
	font-size:1.1em;
}

.menu { 
	padding: 0px; 
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}  
.menu .menu-heading { 
	font-size: 1.25em;
	line-height: 2em; 
	vertical-align: middle;
	padding: 0px 0px 2px 25px; 
	display: block; 
	background-color: #fafafa /*#F8F7EF*/; 
}
.menu .menu-subheading {
	vertical-align: middle;
	padding: 2px 0px 2px 15px; 
	display: block; 
	font-weight: bold;
}
.menu .menu-section { 
	padding-top: 5px;
	padding-right: 0px; 
	padding-bottom: 0px;
}
.menu .menu-section ul { 
	padding-top: 0px; 
	padding-bottom: 5px;
}
input.button { 
	vertical-align: middle;
	border: 0px;
	margin: 0px;
}
.menu .menu-section ul li { 
    /*display: block;*/
    
    padding: 0px 0px 2px 0px;
    cursor: pointer;
}
/*
.menu .menuSection a { 
	font-weight: none;
	text-decoration: none;
}
.menu .menuSection a:hover { 	
	text-decoration: none;
	font-weight: none;
}
.menu .menuSection a:hover { 
	text-decoration: underline;
	font-weight: none;
}
.menu .menuSection a:visited { 
	text-decoration: none;
	font-weight: none;
}
*/
	

.nav { 
	margin: 0px;
	margin-bottom: 1px;
	padding: 10px;
	background-color: #F7F7F7;
}
.buttonBar { 
	background-color: #F7F7F7;
	padding: 10px;
	text-align: center;
}

#resultSummary { 
	font-size: 9pt;	
}
label { 
	padding-right: 15px; 
	font-weight: bold;
}
label.required { 
	color: red;
}
label.optional { 
	color: #AAA;
}

/* TODO figure out what this was meant for */
h2 {	
	font-size: 1.2em;
	background-color: #F7F7F7;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
h4 { 
	font-size: 1.2em;
	padding: 10px;
}

/*
h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 1.2em;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	background-color: #EBF1F7;
	font-size: 135%;
	line-height: 2;
	padding: 0 0 0 10px;
}
*/


.title { 
	font-size: 1.2em;	
	font-weight: bold;
}

.buttons { 
	margin-top: 1px;	
}

/* TODO figure out if we need to keep this */
#pageBody {
	margin-left: 280px;
	margin-right: 20px;
	padding: 1px;
}

#pageTitle { 
	/*border-top: 1px solid lightgrey;
	background-color: #f0f0f0;
	background-color: #525D76;*/
	border-bottom: 1px dotted #525D76; 
	/*margin-bottom: 10px;
	
	padding: 5px;
	color: white;
	*/
}

.section { 	
	/*
	padding-left: 10px; 
	padding-bottom: 10px; */
}
	


/* stole from blueprint screen.css */
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 0em 0em;border:none;}
hr.space {background:#fff;color:#fff;}


/* Login information in banner
-------------------------------------------------------------*/
/* 	NOTE: I cannot get the login info to move down to the "bottom", 
	so I was using absolute positioning at one point (might be gone now)  */
 	
#hd { 
    vertical-align: bottom;		
	border-bottom: 1px solid lightgrey;
	background-color: white;
	margin: 5px;	
}

.page-title {
	margin-top: 10px;
}



#banner { 
	
}
#bannerLeft {
    text-align: left;
}
#bannerRight {
	text-align: right;
}

ul.treeList { 
	list-style-type: square; 
}
ul.treeList li ul li { 
	padding-left: 15px;
}

#loggedIn { 	
	text-align: right;
	margin: 0px;
	font-size: 1.2em;
	border: 0px solid #000; 
	padding: 5px 10px 10px 15px;  	
}


#loggedIn ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
#loggedIn ul li  {
    display: inline;
    margin: 0 0px;
}

/* breadcrumb 
-------------------------------------------------------------*/
.breadcrumb { 
	margin: 10px;	
}


/* not sure if these are needed any longer, so we should look into getting rid of these 
-------------------------------------------------------------*/
#footer {
   position:absolute;
   vertical-align: middle;
   border-top: 1px solid #aaa;
   bottom: 0px;
   margin-top: 150px;
   padding-top: 5px;
   width:100%;
   text-align: center;
   height: 20px;   /* Height of the footer */
   background: #fff;
}

#header {
	vertical-align: middle;
	border-bottom: 0px solid black;
	padding-bottom: 0px;
	width:100%;
	background:#fff;
	height: 62px;
}




/*
-------------------------------------------------------------*/

div.message {
	font-size: 125%
}

div.errors {
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
    font-size: 125%
}

/* changed to 5px because div.errors looks weird at 10px */
div.errors li { 
	margin-top: 5px; 	
}

div#dashboard li { 
	margin-top: 10px;
}
	

.listcontainer { 
	margin-bottom: 1em;
	/*overflow: hidden;*/
	
}

.list {
	list-style-type: none;
	/*
	margin: 10px;
	padding: 10px;*/
}

.list li {
	border-left: 1px solid #000;
	float: left;
	padding: 5px 10px 5px 10px;
	/*margin: 0 .5em 0 -.5em;*/
	/*padding: 0 .75em 0 .75em;*/
}

.list li.first { 
	border-left: 0px;
}

.list .active { 
	font-weight: bold;	
	background-color: #ccc;
}
.list li { 
	background-color: #eee;
}

.prop-multi { 
	padding-left: 100px;
}

.prop { 
	border-top: 1px dotted #ccc;	
	
}

.prop .first { 
	border-top: 0px;	
}

.prop .name { 
	width: 10%;
	background-color: #F7F7F7;
	text-align: right; 
}

.prop .value { 
	text-align:left;
	/*width: 30%;*/
	background-color: white;
	vertical-align: top;
	line-height: 1.5em;
}
/*
.active	{ background-color: #6699CC; color: white;} 
.inactive { background-color: #EEE; } 
*/
label { display: inline; text-decoration: none;}
label.block { display: block;} 
fieldset .prop { margin: 10px; }
.radio { padding-left: 10px; } 
#progressbar {  padding: 10px; margin: 10px; } 
#progressbar .step { padding-left: 0; border: 1px solid #aaa; background-color: whitesmoke; padding: 10px;}
.step.selected { font-weight: bold; text-decoration: underline; background-color: #f7f7f7 /*#F8F7EF*/; } 
span.right { float: left; } 
span.left { width: 10%;  float: left; text-align: center; } 
#wizard { }

.actions { cursor: pointer; position: absolute; z-index:999; background-color: #f5f5f5; border: 1px solid lightgrey; padding: 0px; display: none; } 
.action-menu { cursor: pointer; } 
.action-menu { padding: 0; }
.action-menu-root { margin: 0px; } 
.action-menu-item { margin: 0px; padding: 3px; }
.filter-list-item { margin: 10px;  } 
.document-list-item { margin: 1px; }

.selected { 
	font-weight: bold;		
}

.tabSelected { 
text-align: center;
background-color: white; 
border: 1px solid black;
border-bottom: hidden; 
}
.tabDefault { 
text-align: center;
background-color: #f0f0f0; 
border: 1px solid black; 
border-bottom: 1px solid black; 
border-top: 1px solid black; 
border-right: 1px solid black; 
border-left: 1px solid black;
}
.tabSpacer { 
width: 3px;
border-top: 0px;
border-bottom: 1px solid black;
}

.verticalTabSelected { 
text-align: left;
background-color: white; 
border: 1px solid #CCC;
}

.verticalTabDefault { 
text-align: left;
background-color: #f7f7f7; 
border: 1px solid #CCC; 
}

.data td, .data th { 
	vertical-align: middle; 
}
.data th { 
	border: 0px; 
} 
.categoryBreadcrumb { 			
	font-weight: bold; 
	padding: 10px;
	text-align: left;
}
.clear-all { 
	padding: 5px; 
	margin-left: 20px;
}
.filterRow {
	font-size: 13px;
	padding: 5px; 
	margin: 5px;
	white-space:nowrap;
	background-color: #F7F7F7; /*#D8D8D8*/	
}
.filter {
	border: 1px solid lightgrey;
	padding: 5px;
	margin-left:10px;
}
.filter a { 
	padding: 0 10px 0 10px;
	margin: 10px;
}

.paddingRow {
	padding:2px;
	border-top:none; border-right:none; border-left:none;
	background-color:white;
}
.filterSelected {
	background-color:white;
	border-bottom:none;
}
.checked { 
	background-color: #FFCC66; 
} 
.checkbox { 
	width: 50px; 
	border: 1px solid black;
}
.scrollTable {
	border-collapse:collapse;
}

