/* -------------------------------------------------------------- 
   
   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms
   
   Usage:
   * For text fields, use class .large or .text
   
-------------------------------------------------------------- */


label       { font-weight: none; }
fieldset    { padding:0em; margin: 0 0 .2em 0; border: 1px solid #ccc; }
legend      { font-weight: none; font-size:1.2em;  margin-left: 10px; margin-right: 10px; }
/*
legend span {      
	position: absolute;      
	margin-top: -1em;  
}*/

/* Form fields
-------------------------------------------------------------- */

input[type=text],
input[type=password],
input.text, input.large, 
textarea, select { 
  background-color:#fff; 
  border:1px solid #bbb; 
}
input[type=text]:focus, 
input[type=password]:focus,
input.text:focus, input.large:focus, span.large:focus,
textarea:focus, select:focus { 
  border-color:#666; 
}

input[type=text], 
input[type=password],
input.text, input.large, span.large,
textarea, select {
  margin:0;
}

/*
input[type=submit] { 
	background-color: #ccc;
	height: 200px;	
}*/

input.text, input.large, span.large   { padding:5px; }
textarea      { padding:5px; }

input[type=checkbox], input[type=radio], 
input.checkbox, input.radio { 
  position:relative; top:.25em; 
}

input[readonly="readonly"] {
    background-color: lightgrey;
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }


/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }



/* BUTTONS 
-------------------------------------------------------------- */

/*
select, input, textarea { 
	-moz-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: 5px 5px 5px #ccc;
  	-webkit-box-shadow: 5px 5px 5px #ccc;
  	box-shadow: 5px 5px 5px #ccc;	
}
*/




