body{
    margin: 15px;
}
/*
h1 { font-size: 32px; }
h2 { font-size: 29px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }
*/
.header{
    margin: 10px;
}

.title{
    clear: both;
    text-align: center;
    margin: 10px;
}
.canceled {
    color: lightgrey;
    text-decoration: line-through;
}

.odd {
    background: #f7f7f7; !important;
}
.even {
	background: #fff; !important;
}

.theader td {
    font-weight: bold;
}

#logo {
    width: 20px;
    height: 20px;
}

#signature-table {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
#signature-table tr { border-bottom: 1px solid lightgrey;  }

.signature-table {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.signature-table tr, .signature-table td { border: 1px solid lightgrey; height: 30px; }


#details-table{
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}
#details-table tr { border-bottom: 1px solid lightgrey;}


#requisition-items{    
    margin-bottom: 10px;
}

#requisition-items {
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
}

#requisition-items tr {
    height: 50px;
}

#requisition-items td, #requisition-items th {
    border-right: 2px solid lightgrey;
}

#packinglist-items tbody tr { 
    border-bottom: 1px lightgrey solid;
}

#comment-box{
    border: 1px solid lightgrey;
    height: 100px;
    margin-top:10px;
}

@media print {
	#print-button { display:none; }
	#print-header { display: none; }
}

