body{
    margin: 15px;
}


.header{
    
    margin: 10px;
}

.title{
    clear: both;
    text-align: center;
    margin: 10px;
}

.odd {
    background: #f7f7f7; !important;
}
.even {
	background: #fff; !important;
}

.theader td {
    font-weight: bold;
}

#logo {
    width: 20px;
    height: 20px;
}

#signature-table {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
#signature-table tr { border-bottom: 1px solid lightgrey; }

.signature-table {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.signature-table tr, .signature-table td { border: 1px solid lightgrey; }


#details-table{
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}
#details-table tr { border-bottom: 1px solid lightgrey;}


#requisition-items{    
    margin-bottom: 10px;
}

#packinglist-items tbody tr { 
    border-bottom: 1px lightgrey solid;
}

#comment-box{
    border: 1px solid lightgrey;
    height: 100px;
    margin-top:10px;
}

@media print {
	#print-button { display:none; }
	#print-header { display: none; }
}