html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */
/*
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}
*/

body {
    background: #fff;
    color: #333;
    /*font: 11px "lucida grande", verdana, arial, helvetica, sans-serif;*/
}
#grailsLogo {
    padding-left: 0px;
    margin:0;
}
#grailsAppName {
    font-size: 4em;
    font-weight: bold;
    font-family: 'verdana';
    letter-spacing: -1px;
    padding-left: 0px;
    vertical-align: middle;
}

a:link, a:visited, a:hover {
    color: blue;
    /*font-weight: bold;*/
    /*font-size: 0.9em;*/ /* removed because it's distracting */
    /*text-decoration: underline;*/
   	text-decoration: none;	/* removed because we want to see underline */
}

h1 {
    font-weight: normal;
    font-size: 16px;
    /*margin: .8em 0 .3em 0;*/
}

/*
ul {
    padding-left: 5px;
}*/

input, select, textarea, button {
    /*
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px "lucida grande", verdana, arial, helvetica, sans-serif;
    */
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	/*
	width: 250px;
	height: 150px;*/
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    /*border: 1px solid #b2d1ff;*/
    /* Causing buttons to change background color ?? when in focus  */
}

.body {
    /*float: left;*/
    margin: 0px 5px 0px 0px;
}

/* NAVIGATION MENU */

.nav {
    /*background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;*/
    background-color: #eee;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}


.linkButton {
    color: #333;
	padding: 10px 5px;
}
.linkButton a {
    padding: 2px 3px;
    padding-left: 20px;
}


.linkButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
}
.linkButton a.list {
    background: url(../images/icons/silk/table.png) center left no-repeat;
}
.linkButton a.create {
    background: url(../images/icons/silk/add.png) center left no-repeat;
}
.linkButton a.new {
    background: url(../images/skin/new.png) center left no-repeat;
}

.linkButton a.ALL {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.NEW {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.OPEN {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.FULFILLED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.CANCELED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}

.linkButton a.order-status-PENDING {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.order-status-PLACED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.order-status-RECEIVED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}

.linkButton a.request-status-NEW {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.request-status-REQUESTED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.request-status-PENDING {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.request-status-PICKED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.request-status-OPEN {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.request-status-FULFILLED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.request-status-CANCELED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.request-status-PLACED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.request-status-RECEIVED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.request-status-SHIPPED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.shipment-status-PENDING {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.shipment-status-SHIPPED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.shipment-status-RECEIVED {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}


.linkButton a.report_low {
    background: url(../images/icons/silk/chart_bar.png) center left no-repeat;
}
.linkButton a.report_reorder {
    background: url(../images/icons/silk/arrow_refresh.png) center left no-repeat;
}
.linkButton a.report_expiring {
    background: url(../images/icons/silk/clock.png) center left no-repeat;
}
.linkButton a.report_expired {
    background: url(../images/icons/silk/clock_red.png) center left no-repeat;
}
.linkButton a.report_consumption {
    background: url(../images/icons/silk/package_white.png) center left no-repeat;
}
.linkButton a.report_transactions {
    background: url(../images/icons/silk/calendar_view_day.png) center left no-repeat;
}
.linkButton a.report_shipping {
    background: url(../images/icons/silk/lorry.png) center left no-repeat;
}
.linkButton a.report_inventory {
    background: url(../images/icons/silk/package.png) center left no-repeat;
}
.linkButton a.settings {
    background: url(../images/icons/silk/cog.png) center left no-repeat;
}
.linkButton a.supported {
    background: url(../images/icons/silk/accept.png) center left no-repeat;
}
.linkButton a.formulary {
    background: url(../images/icons/silk/pill.png) center left no-repeat;
}
.linkButton a.stocked {
    background: url(../images/icons/silk/tick.png) center left no-repeat;
}
.linkButton a.notSupported {
    background: url(../images/icons/silk/decline.png) center left no-repeat;
}


/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 5px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    /*border: 1px solid #ccc;*/		/* jmiranda: removed because it's annoying to have to disable the border */
    width: 100%;
}
tr {
    border: 0;
}
td, th {
    font: 11px "lucida grande", verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 6px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    /*background: #fff url(../images/skin/shadow.jpg);*/
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
    border-top: 1px solid #f2f2f2;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
	background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    /*border-left: 1px solid #ddd;*/
}
.list tbody tr:hover {
    background: #b2d1ff; 
}

.list tbody tr.none:hover { 
	background: none;
}
.list tbody tr.unhighlight:hover { 
	background: none;
}



/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 10%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 90%;
}
/* allows table to be flush with its parent table cell */
.prop .table { 
	padding: 0px;
}

/* ACTION BUTTONS 

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 0px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
*/

/* more menu button icons */
.menuButton { 
	padding-left: 0px;
}
.menuButton a { 
	padding-left: 15px;
}
.linkButton a.alert {
    background: url(../images/icons/silk/alert.png) center left no-repeat;
}
.linkButton a.error {
    background: url(../images/icons/silk/error.png) center left no-repeat;
}
.linkButton a.email {
    background: url(../images/icons/silk/email.png) center left no-repeat;
}
.linkButton a.settings {
    background: url(../images/icons/settings.png) center left no-repeat;
}
.linkButton a.shipment {
    background: url(../images/icons/truck.png) center left no-repeat;
}
.linkButton a.drugRoute {
    background: url(../images/icons/silk/pill_go.png) center left no-repeat;
}
.linkButton a.drugClass {
    background: url(../images/icons/silk/pill.png) center left no-repeat;
}
.linkButton a.warehouse {
    background: url(../images/icons/silk/building.png) center left no-repeat;
}
.linkButton a.site {
    background: url(../images/icons/silk/map.png) center left no-repeat;
}
.linkButton a.location {
    background: url(../images/icons/silk/building.png) center left no-repeat;
}
.linkButton a.locationType {
    background: url(../images/icons/silk/building_key.png) center left no-repeat;
}
.linkButton a.inventory {
    background: url(../images/icons/silk/book.png) center left no-repeat;
}
.linkButton a.eventType {
    background: url(../images/icons/silk/calendar.png) center left no-repeat;
}
.linkButton a.import {
    background: url(../images/icons/silk/table_add.png) center left no-repeat;
}
.linkButton a.menu {
    background: url(../images/icons/silk/document.png) center left no-repeat;
}
.linkButton a.account {
    background: url(../images/icons/document.png) center left no-repeat;
}
.linkButton a.main {
    background: url(../images/icons/document.png) center left no-repeat;
}
.linkButton a.auth {
    background: url(../images/icons/document.png) center left no-repeat;
}
.linkButton a.user {
    background: url(../images/icons/user.png) center left no-repeat;
}
.linkButton a.role {
    background: url(../images/icons/silk/shield.png) center left no-repeat;
}
.linkButton a.admins {
    background: url(../images/icons/users.png) center left no-repeat;
}
.linkButton a.group {
    background: url(../images/icons/silk/group.png) center left no-repeat;
}
.linkButton a.people {
    background: url(../images/icons/silk/group.png) center left no-repeat;
}

.linkButton a.admin {
    background: url(../images/icons/profile.png) center left no-repeat;
}
.linkButton a.transaction {
    background: url(../images/icons/document.png) center left no-repeat;
}
.linkButton a.stockCard {
	background: url(../images/icons/silk/book.png) center left no-repeat;
}
.linkButton a.recordInventory {
	background: url(../images/icons/silk/book_add.png) center left no-repeat;
}
.linkButton a.country {
    background: url(../images/icons/map.png) center left no-repeat;
}
.linkButton a.inventorylineitem {
    background: url(../images/icons/package.png) center left no-repeat;
}
.linkButton a.product {
    background: url(../images/icons/silk/package.png) center left no-repeat;
}
.linkButton a.order {
    background: url(../images/icons/silk/order.png) center left no-repeat;
}
.linkButton a.transactionentry {
    background: url(../images/icons/silk/document.png) center left no-repeat;
}
.linkButton a.documentupload {
    background: url(../images/icons/document.png) center left no-repeat;
}
.linkButton a.building {
    background: url(../images/icons/building.png) center left no-repeat;
}
.linkButton a.shipper {
    background: url(../images/icons/silk/lorry.png) center left no-repeat;
}
.linkButton a.shipperService {
    background: url(../images/icons/silk/map.png) center left no-repeat;
}
.linkButton a.ups {
    background: url(../images/icons/ups.jpg) center left no-repeat;
}
.linkButton a.usps {
    background: url(../images/icons/usps.jpg) center left no-repeat;
}
.linkButton a.fedex {
    background: url(../images/icons/fedex.jpg) center left no-repeat;
}
.linkButton a.browse {
    background: url(../images/icons/browse.png) center left no-repeat;
}
.linkButton a.dashboard {
    background: url(../images/icons/silk/application_view_tile.png) center left no-repeat;
}
.linkButton a.metadata {
    background: url(../images/icons/wrench.png) center left no-repeat;
}
.linkButton a.bullet {
    background: url(../images/icons/silk/bullet_white.png) center left no-repeat;
}
.linkButton a.invalid {
    background: url(../images/icons/silk/cross.png) center left no-repeat;
}
.linkButton a.new {
    background: url(../images/icons/silk/add.png) center left no-repeat;
}
.linkButton a.edit {
    background: url(../images/icons/silk/pencil.png) center left no-repeat;
}
.linkButton a.browse {
    background: url(../images/icons/silk/magnifier.png) center left no-repeat;
}
.linkButton a.view {
    background: url(../images/icons/silk/magnifier.png) center left no-repeat;
}
.linkButton a.delete {
    background: url(../images/icons/silk/delete.png) center left no-repeat;
}
.linkButton a.trash {
    background: url(../images/icons/silk/bin.png) center left no-repeat;
}
.linkButton a.export {
    background: url(../images/icons/silk/arrow_down.png) center left no-repeat;
}
.linkButton a.indent {
    background: url(../images/icons/indent.gif) center left no-repeat;
}
.linkButton a.outline {
    background: url(../images/icons/silk/chart_organization.png) center left no-repeat;
}
