.location-field-rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.location-select {

  .select-xs {
    height: 42px !important;

    .react-select__single-value {
      padding-bottom: 0.5rem !important;
    }
  }
}

