@mixin
limit-lines($lines-number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines-number;
  line-clamp: $lines-number;
  -webkit-box-orient: vertical;
}

.all-products-tab-footer {

  p {
    font-weight: 500;
    color: var(--blue-700);
    font-size: 14px;
    margin: auto 0;

    span {
      font-weight: 400;
    }
  }

  .suggestion-button {
    color: var(--blue-primary);

    &:hover {
      background: transparent;
    }
  }
}

.sorting-arrows {
  display: flex !important;
}

.rt-tr > .checkbox-column {
  width: 100px !important;
}

.header-cell {
  > div:first-child {
    height: 46px;
  }
}

.selected-rows-indicator {
  font-weight: 400;
  color: var(--gray-600);
  font-size: 14px;
}

.limit-lines-2 {
  @include limit-lines(2);
}

.count-step-title {
  color: var(--gray-600);
  font-weight: 600 !important;
  font-size: 20px;
}

.count-step-label {
  color: var(--gray-500);
}

.count-step-value {
  font-weight: 500;
  color: var(--gray-600);
}

.count-step-date {
  color: var(--gray-600);
  font-weight: 500;
}

.count-step-select-counted-by {
  > div:first-of-type {
    width: 160px;
  }
}

.count-step-table {

  .split-table-right {
    box-shadow: 0 0 15px #00000040;
    clip-path: inset(0 -15px 0 0);
    margin-right: 5px;
  }

  .count-step-actions {
    width: 50px !important;
    align-items: center;
    color: var(--red-500);
    cursor: pointer;
  }

  .static-cell-count-step {
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-top: 13px ;
    padding-bottom: 15px;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .rt-tr {
    align-items: stretch;
  }

  .rt-td {
    padding: 0 !important;
  }

  .rt-td-count-step {
    margin-left: 5px;
    margin-bottom: 5px;
    align-items: center;
    position: relative;
  }

  .cell-inner-wrapper {
    padding: 10px 3px 3px 3px;
  }

  .date-field-input__value {
    font-weight: normal;
  }
}

.resolve-step-table {

  .rt-td-count-step {
    margin-left: 14px;
    display: flex;
    align-items: center;
  }
}

.count-step-label-date-counted {
  white-space: nowrap;
}

.date-counted-container {

  .date-counted-date-picker {
    width: 150px;

    .date-field-input__value {
      font-weight: normal;
    }
  }
}

.confirm-step-header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  padding-top: 40px;
}

.error-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  font-size: 16px;
}

.error-border {
  border: 1px solid red;
}
