{
  "plugins": [
    "simple-import-sort"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-undef": 0,
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error"
  },
  "settings": {
    "import-resolver": {
      "node": {
        "paths": ["src/js"]
      }
    }
  }
}
