$white-alpha: #EFECEC;

$gray-alpha: #CCC;
$gray-beta: #999;
$gray-gamma: #888;
$gray-delta: #777;
$gray-epsilon: #737373;
$gray-zeta: #666;
$gray-eta: #EEE;

$red-alpha: #843534;
$red-beta: #a94442;
$red-gamma: #ce8483;

$blue-alpha: #163038;
$blue-beta: #0c769e;
$blue-gamma: #3bafda;
$blue-delta: #4fc1e9;
$blue-epsilon: #bce7f7;

.brand-name {
  padding-left: 10px;
  font-size: 1.5em !important;
  font-weight: bold;
  color: $gray-zeta !important;
  font-family: "Trebuchet MS",Trebuchet,Calibri,Tahoma,Segoe;
  text-transform: lowercase;
}

.menu-container {
  border-top: 1px solid $gray-gamma;
  border-bottom: 1px solid $gray-zeta;
  background-color: $gray-gamma;
  color: white;
  line-height: 1.2;
}

.nav-link {
  padding: 7px 15px !important;
  color: white !important;
  font-size: 14px;
}

.dropdown:hover {
  background-color: white;
  .nav-link {
  color: black !important;
  }
}

.nav-link:hover {
  background-color: white;
  color: black !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  color: black !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  margin: 0 !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

.dropdown-item:hover, .dropdown-item:active {
  background-color: lightgrey !important;
  color: black;
}

.dropdown-item {
  font-size: 14px;
}

.bradcrumbs-container {
  padding-left: 10px;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(white, $white-alpha);
  justify-content: flex-start;
  align-items: center;
  line-height: 30px;
  color: $gray-beta;
  border-bottom: solid 1px $gray-alpha;
}

#footer > div > a, #footer > div > b > a {
  color: $gray-delta;
}

.footer {
  font-size: 12px;
  color: $gray-delta;
}

.language-selector {
  border-radius: 0.25rem;
  border: 2px solid lightgrey;
  background-color: lightgrey;
}

.form-group {
  &.required {
  .col-form-label:after {
    content: "*";
    color: red;
  }
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: $gray-epsilon;
}

.has-error .help-block,
.has-error .col-form-label {
  color: $red-beta;
}

.has-error .form-control,
.has-error .Select-control {
  border: 2px solid $red-beta;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .form-control:focus {
  border-color: $red-alpha;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px $red-gamma;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px $red-gamma;
}

/* = WIZARD STEPS CONTAINER
----------------------------*/
.wizard-steps {
  height: 36px;
  padding: 0;
  line-height: 36px;
  list-style: none;
}

/* = DEFAULT STEPS
----------------------------*/
.wizard-steps div {
  padding-bottom: 2px;
}

.wizard-steps div:first-child a {
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px
}

.wizard-steps div, .wizard-steps div a, .wizard-steps div span {
  display: inline-block;
  vertical-align: top
}

.wizard-steps div a, .wizard-steps div:not(:first-child) span {
  height: 36px;
  padding: 0 10px 0 25px;
  line-height: 36px
}

.wizard-steps div:first-child a {
  padding: 0 10px
}

.wizard-steps div a {
  position: relative;
  color: white;
  text-decoration: none;
  background-color: $blue-epsilon;
  border: 1px solid $blue-gamma;
  border-left: none;
  border-right: none;
}

.wizard-steps div:first-child a {
  padding-left: 10px
}

.wizard-steps div a:after, .wizard-steps div a:before {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: '';
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent
}

.wizard-steps div a:before {
  right: -10px;
  z-index: 3;
  border-left: 11px solid $blue-epsilon;
}

.wizard-steps div a:after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid $blue-beta
}

.wizard-steps div a:focus, .wizard-steps div a:hover {
  background-color: $blue-delta;
  border: 1px solid $blue-delta
}

.wizard-steps div a:focus:before, .wizard-steps div a:hover:before {
  border-left-color: $blue-delta
}

/* = COMPLETED STEPS
----------------------------*/

.wizard-steps .completed-step a {
  background-color: $blue-gamma;
  border: 1px solid $blue-gamma;
}

.wizard-steps .completed-step a:before {
  border-left-color: $blue-gamma;
}

.wizard-steps .completed-step a:after {
  border-left-color: $blue-beta
}

/* = CURRENT STEP
----------------------------*/

.wizard-steps .active-step a {
  background-color: $blue-alpha;
  border: 1px solid $blue-alpha
}

.wizard-steps .active-step a:before {
  border-left-color: $blue-alpha
}

.wizard-steps .active-step a:after {
  border-left-color: $blue-beta
}

/* = DISABLED STEPS
----------------------------*/

.wizard-steps .disabled-step {
  cursor: default;
}

.wizard-steps .disabled-step a {
  pointer-events: none;
}

/* MODALS
----------------------------*/

.ReactModalPortal .ReactModal__Overlay--after-open {
  z-index: 4 !important;
}

.modal-content-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid $gray-alpha;
  background: white;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-height: 80vh;
}

/* PRINT STYLING
----------------------------*/

@media print {
  .print-mt {
    margin-top: 40px;
  }
}

.clickable-row:hover {
  cursor: pointer;
  background-color: $gray-eta !important;
}

/* TABLE - ROW STRIKETROUGH
----------------------------*/

table {
  border-collapse: collapse;
}

td {
  position: relative;
}

tr.crossed-out td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 2px solid $red-beta;
  width: 100%;
}

.print-buttons-container {
  display: flex;
  flex-direction: column;
}

.print-buttons-container a span {
  white-space: normal;
}

.spinner-container > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255, 0.8);
  z-index: 100;
}

.spinner-container > div > div {
  top: 40%;
}

.ReactTable .-pagination .-btn {
  height: 5% !important;
}

.even-row {
  background-color: $white-alpha;
}

.table-row {
  height: 45px;
}

.table-inner-row {
  position: relative;
  height: 45px;
}

div.crossed-out .table-inner-row:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 2px solid $red-beta;
  width: 100%;
  z-index: 999 !important;
}

.force-on-top {
  z-index: 9999 !important;
}

.Select-loading-zone {
  display: none !important;
}

.dropzone {
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.dropzone div {
  border: none !important;
  width: 100% !important;
  height: auto !important;
}

.chosen-file {
  text-overflow: ellipsis;
  overflow: hidden;
}

#stockMovementInfo {
  flex-grow: 2;
}

