$gray-dark: #737373;
$red: #f00;
$red-dark: #843534;
$red-mid: #a94442;
$red-light: #ce8483;

.brand-name {
    padding-left: 10px;
    font-size: 1.5em !important;
    font-weight: bold;
    color: #666 !important;
    font-family: "Trebuchet MS",Trebuchet,Calibri,Tahoma,Segoe;
    text-transform: lowercase;
}

.menu-container {
    border-top: 1px solid #888;
    border-bottom: 1px solid #666;
    background-color: #888;
    color: #FFF;
    line-height: 1.2;
}

.nav-link {
    padding: 7px 15px !important;
    color: #FFF !important;
    font-size: 14px;
}

.dropdown:hover {
    background-color: white;
    .nav-link {
        color: black !important;
    }
}

.nav-link:hover {
    background-color: white;
    color: black !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    color: black !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    margin: 0 !important;
    overflow-y: hidden;
    overflow-x: hidden;
}

.dropdown-item:hover, .dropdown-item:active {
    background-color: lightgrey !important;
    color: black;
}

.dropdown-item {
    font-size: 14px;
}

.bradcrumbs-container {
    padding-left: 10px;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(#FFFFFF, #EFECEC);
    justify-content: flex-start;
    align-items: center;
    line-height: 30px;
    color: #9b9b9b;
    border-bottom: solid 1px #cacaca;
}

#footer > div > a, #footer > div > b > a {
    color: #777;
}

.footer {
    font-size: 12px;
    color: #777;
}

.language-selector {
    border-radius: 0.25rem;
    border: 2px solid lightgrey;
    background-color: lightgrey;
}

.form-group {
  &.required {
    .col-form-label:after {
      content: "*";
      color: $red;
    }
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: $gray-dark;
}

.has-error .help-block,
.has-error .col-form-label {
  color: $red-mid;
}

.has-error .form-control {
  border-color: $red-mid;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .form-control:focus {
  border-color: $red-dark;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px $red-light;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px $red-light;
}
