@mixin set-size($width, $height) {
  width: $width;
  height: $height;
}

.inbound-add-items {

  .rt-th-add-items {
    padding-top: 19px !important;
    padding-bottom: 19px !important;
  }

  .rt-td-add-items {
    padding: 0 4px 4px 4px !important;
  }

  .rt-tbody {
    max-height: 400px;

    .input-xs {
      height: 26px;
      padding: 4px 8px;
      font-size: 14px;
    }

    .input-xs {
      height: 26px;
      padding: 4px 8px;
      font-size: 14px;
    }

    &::-webkit-scrollbar {
      width: 0.5em;
      height: 0.5em;
    }

    &::-webkit-scrollbar-track {
      background: var(--blue-200);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--blue-301);
      border-radius: 4px;
    }
  }

  .input-wrapper-error-message {
    min-height: unset;
  }

  .buttons-container {
    display: flex;
    gap: 4px;
    .icon {
      @include set-size(16px, 16px);
    }
  }

  .custom-select-error-placeholder {

    svg {
      color: var(--color-red);
      margin-right: 5px;
      @include set-size(16px, 16px);
    }

    span {
      font-size: 14px;
      color: var(--gray-350);
      font-weight: 400;
    }
  }

  .bin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .inbound-bin {
      @include set-size(18px, 18px);
      color: var(--color-red);
      cursor: pointer;

      &.disabled {
        color: var(--color-red);
        cursor: auto;
      }
    }
  }
}

.submit-buttons {
  margin-top: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Chrome, Safari, Edge, Opera */
input.hide-arrows::-webkit-outer-spin-button,
input.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.hide-arrows[type=number] {
  -moz-appearance: textfield;
}
