<plugin name='spock' version='0.6' grailsVersion='1.3.0 &gt; *'>
  <author>Spock Framework</author>
  <authorEmail>user@forum.spockframework.org</authorEmail>
  <title>Spock Plugin - spockframework.org</title>
  <description>Test your Grails apps with Spock</description>
  <documentation>http://grails.org/plugin/spock</documentation>
  <type>SpockGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>