# https://java.testcontainers.org/modules/databases/mysql/
# Used to specify a custom config when starting up the testcontainers db for integration tests. We do this to
# ensure our test environment settings match what we have in production. testcontainers use the following default values:
# https://github.com/testcontainers/testcontainers-java/blob/main/modules/mysql/src/main/resources/mysql-default-conf/my.cnf

[mysqld]
default-time-zone = "UTC"
# The following is needed until this is resolved: https://github.com/openboxes/openboxes/issues/2401
collation-server = utf8mb3_unicode_520_ci
init-connect='SET NAMES utf8mb3'
character-set-server = utf8mb3
