# https://java.testcontainers.org/modules/databases/mysql/
# Used to specify a custom config when starting up the testcontainers db for integration tests. We do this to
# ensure our test environment settings match what we have in production. testcontainers use the following default values:
# https://github.com/testcontainers/testcontainers-java/blob/main/modules/mysql/src/main/resources/mysql-default-conf/my.cnf

[mysqld]
default-time-zone = "UTC"