name: Frontend tests

# Is only runnable via other workflows
on:
  workflow_call:

jobs:
  run-frontend-unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure Node
        uses: actions/setup-node@v4
        with:
          node-version: 14
          cache: npm

      - run: npm ci
      - run: npm test
